html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.buttonLoad {
  border-radius: 12px;
  background-color: black;
  color: white;
  border: 2px solid #aa9c04;
  text-align: center;
  width: 100px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.buttonNew {
  border-radius: 12px;
  background-color: black;
  color: white;
  border: 2px solid #aa0404;
  text-align: center;
  width: 100px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.btnContainer {
  display: flex;
  justify-content: center;
  padding: 8px;
}
.titleContainer {
  display: flex;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.splashScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
