<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div class="splashScreen">
      <div class="titleContainer">
        <h1>Rocket Visualizer</h1>
      </div>
      <div class="btnContainer">
        <button class="buttonNew">New</button>
      </div>
      <div class="btnContainer">
        <button class="buttonLoad" onclick="promptFile()">Load</button>
      </div>
    </div>
  </body>
</html>

<script>
  function promptFile() {
    let input = document.createElement("input");
    input.type = "file";
    input.onchange = (_) => {
      let files = Array.from(input.files);
      console.log(files);
    };
    input.click();
  }
</script>
